# В этом файле будем делать алгоритм коллаборативной фильтрации
 входом должен быть id юзера, в ответ получаем рекомендации

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import pickle

In [5]:
cosine_list = []
with open('cosine_dim.txt') as file:
    for line in tqdm(file):
        temp = line.split()
        temp = int(temp[0]), int(temp[1]), float(temp[2])
        cosine_list.append(temp)

cosine_dim = pd.DataFrame(columns=['x', 'y', 'cosine'], data=(cosine_list))

0it [00:00, ?it/s]

796274it [00:01, 604496.69it/s]

In [9]:
len(cosine_dim)

796274

In [8]:
cosine_dim.to_excel('cosine_dim.xlsx')

In [6]:
cosine_dim[cosine_dim.x == 0].sort_values('cosine', ascending=False)

     x      y    cosine
47   0  25581  0.982789
120  0  19022  0.980321
76   0  58950  0.963732
151  0  28052  0.961028
122  0  10873  0.956637
..  ..    ...       ...
182  0  28790  0.625483
274  0  39187  0.593576
222  0  29798  0.592464
323  0  16258  0.564709
147  0  19762  0.561807

[329 rows x 3 columns]

In [14]:
# Все существующие пользователи по порядку
all_users = sorted(set(cosine_dim.x).union(set(cosine_dim.y)))

In [15]:
i = 1

Логика должна быть следующей: задаем системе номер клиента, она выдает для него рекомендации

In [16]:
def getting_closes(i: int):
    """Функция выдает наиболее похожих пользователей для заданного пользователя i"""
    if not i in all_users:
        return (-1, f"Пользователя {i} не существует")
    reco_df = cosine_dim.loc[((cosine_dim.x == all_users[i]) | (cosine_dim.y == all_users[i]))].sort_values('cosine', ascending=False)
    quant = reco_df.quantile(0.90).cosine
    reco_df.loc[reco_df.cosine >= quant]
    result = reco_df[reco_df['cosine'] >= quant]
    return result

In [40]:
closes_val = getting_closes(int(input('Введите id пользователя для получения рекомендаций: ')))
closes_val

     x      y    cosine
47   0  25581  0.982789
120  0  19022  0.980321
76   0  58950  0.963732
151  0  28052  0.961028
122  0  10873  0.956637
6    0  16512  0.955926
44   0  17364  0.953578
221  0  21572  0.951216
295  0   7067  0.951160
146  0  44213  0.950606
97   0  10153  0.950390
40   0    852  0.950259
211  0  29525  0.950046
196  0  61882  0.949944
282  0  14837  0.949909
300  0  48215  0.948901
112  0  51607  0.947868
194  0   4490  0.947861
56   0  25667  0.947666
11   0  16640  0.947627
203  0  21228  0.947095
252  0  38762  0.946906
250  0   5939  0.946157
141  0   3083  0.945877
224  0  21640  0.945257
199  0  29338  0.944602
13   0  16673  0.943596
296  0  64525  0.943068
53   0  17447  0.942321
225  0  21642  0.942117
32   0    729  0.941774
261  0  63472  0.940865
311  0  15828  0.940403

Далее берем и соединяем все книги из рекомендованых пользователей. переменная read_by_user

In [3]:
book_id = pd.read_csv('datasets/books/book_id_map.csv')
book_title = pd.read_csv('datasets/books/book_titles.csv')
call_meta = pd.read_csv('datasets/books/collaborative_book_metadata.csv')
call_book = pd.read_csv('datasets/books/collaborative_books_df.csv')
user_id = pd.read_csv('datasets/books/user_id_map.csv')

In [17]:
with open("read_by_user.pickle", "rb") as file:
    read_by_user = pickle.load(file)

In [21]:
def getting_recommendations(i: int):
    """Выдает рекомендованные id книг для пользователя i"""
    if not i in all_users:
        return (-1, f"Пользователя {i} не существует")
    read = read_by_user[i]
    closes_val = getting_closes(i)['y']
    reco_book = []
    for j in range(len(closes_val)):
            reco_book.extend(read_by_user[closes_val.iloc[j]])
    return set(reco_book)

In [26]:
all_users

[0,
 1,
 33,
 55,
 91,
 101,
 114,
 125,
 145,
 154,
 158,
 164,
 168,
 170,
 186,
 188,
 191,
 196,
 198,
 199,
 200,
 208,
 227,
 228,
 238,
 239,
 243,
 251,
 261,
 265,
 279,
 284,
 300,
 307,
 313,
 315,
 317,
 328,
 337,
 349,
 360,
 368,
 379,
 401,
 416,
 427,
 431,
 437,
 456,
 459,
 470,
 471,
 473,
 479,
 484,
 487,
 495,
 511,
 513,
 532,
 537,
 541,
 545,
 546,
 548,
 562,
 576,
 587,
 589,
 606,
 607,
 618,
 637,
 640,
 684,
 696,
 699,
 720,
 723,
 729,
 736,
 745,
 754,
 761,
 775,
 798,
 807,
 813,
 815,
 822,
 827,
 835,
 837,
 843,
 845,
 852,
 856,
 870,
 872,
 875,
 877,
 893,
 902,
 909,
 917,
 918,
 950,
 951,
 975,
 988,
 991,
 1001,
 1003,
 1006,
 1016,
 1034,
 1044,
 1049,
 1052,
 1057,
 1070,
 1072,
 1099,
 1105,
 1107,
 1110,
 1117,
 1124,
 1147,
 1154,
 1155,
 1163,
 1195,
 1196,
 1201,
 1221,
 1222,
 1249,
 1250,
 1274,
 1285,
 1295,
 1298,
 1322,
 1327,
 1330,
 1345,
 1351,
 1353,
 1354,
 1357,
 1387,
 1392,
 1397,
 1415,
 1426,
 1430,
 1432,
 1446,
 1460,
 1461,
 1463,
 1465,
 1477,
 1481,
 1489,
 1492,
 1495,
 1530,
 1533,
 1537,
 1544,
 1546,
 1560,
 1597,
 1611,
 1631,
 1632,
 1640,
 1643,
 1646,
 1648,
 1667,
 1673,
 1675,
 1684,
 1688,
 1715,
 1724,
 1725,
 1729,
 1734,
 1735,
 1737,
 1738,
 1763,
 1791,
 1802,
 1805,
 1814,
 1836,
 1869,
 1870,
 1899,
 1907,
 1909,
 1924,
 1926,
 1934,
 1939,
 1949,
 1959,
 1973,
 1991,
 1998,
 2006,
 2011,
 2025,
 2034,
 2042,
 2064,
 2084,
 2092,
 2095,
 2104,
 2105,
 2115,
 2117,
 2125,
 2139,
 2145,
 2187,
 2193,
 2198,
 2199,
 2217,
 2220,
 2230,
 2238,
 2247,
 2251,
 2252,
 2264,
 2281,
 2282,
 2289,
 2310,
 2318,
 2320,
 2323,
 2350,
 2351,
 2353,
 2358,
 2365,
 2378,
 2380,
 2382,
 2398,
 2410,
 2411,
 2426,
 2429,
 2438,
 2442,
 2448,
 2454,
 2456,
 2457,
 2474,
 2475,
 2499,
 2529,
 2553,
 2559,
 2560,
 2567,
 2568,
 2570,
 2574,
 2585,
 2602,
 2607,
 2610,
 2614,
 2636,
 2640,
 2644,
 2653,
 2664,
 2670,
 2688,
 2720,
 2740,
 2743,
 2749,
 2755,
 2757,
 2775,
 2780,
 2792,
 2795,
 2796,
 2798,
 2799,
 2809,
 2824,
 2841,
 2847,
 2868,
 2888,
 2893,
 2906,
 2962,
 2971,
 2975,
 2978,
 2984,
 2985,
 2993,
 2998,
 3025,
 3035,
 3043,
 3047,
 3049,
 3059,
 3065,
 3073,
 3083,
 3086,
 3100,
 3117,
 3118,
 3130,
 3133,
 3139,
 3145,
 3146,
 3169,
 3175,
 3182,
 3208,
 3250,
 3261,
 3267,
 3268,
 3287,
 3292,
 3295,
 3297,
 3303,
 3327,
 3332,
 3349,
 3357,
 3369,
 3370,
 3373,
 3384,
 3397,
 3418,
 3421,
 3422,
 3427,
 3448,
 3449,
 3459,
 3471,
 3473,
 3487,
 3491,
 3494,
 3507,
 3522,
 3531,
 3532,
 3533,
 3555,
 3563,
 3564,
 3567,
 3569,
 3597,
 3613,
 3655,
 3659,
 3662,
 3665,
 3697,
 3698,
 3713,
 3716,
 3724,
 3730,
 3749,
 3758,
 3780,
 3793,
 3806,
 3819,
 3836,
 3844,
 3869,
 3873,
 3911,
 3939,
 3951,
 3968,
 3975,
 3981,
 3983,
 3988,
 3997,
 4003,
 4015,
 4034,
 4047,
 4063,
 4085,
 4090,
 4131,
 4195,
 4199,
 4216,
 4234,
 4246,
 4249,
 4254,
 4264,
 4273,
 4278,
 4289,
 4315,
 4345,
 4366,
 4375,
 4388,
 4390,
 4397,
 4404,
 4411,
 4440,
 4451,
 4462,
 4476,
 4480,
 4481,
 4490,
 4510,
 4514,
 4521,
 4537,
 4549,
 4554,
 4566,
 4580,
 4583,
 4592,
 4597,
 4601,
 4603,
 4611,
 4629,
 4653,
 4667,
 4681,
 4685,
 4687,
 4693,
 4711,
 4717,
 4741,
 4746,
 4750,
 4776,
 4784,
 4795,
 4820,
 4834,
 4844,
 4864,
 4870,
 4871,
 4900,
 4924,
 4931,
 4933,
 4934,
 4951,
 4956,
 4976,
 4981,
 4984,
 5002,
 5004,
 5034,
 5061,
 5092,
 5115,
 5116,
 5119,
 5121,
 5123,
 5132,
 5141,
 5143,
 5151,
 5187,
 5210,
 5213,
 5217,
 5221,
 5224,
 5236,
 5271,
 5297,
 5301,
 5340,
 5354,
 5357,
 5365,
 5382,
 5388,
 5410,
 5414,
 5450,
 5451,
 5469,
 5475,
 5478,
 5486,
 5499,
 5501,
 5522,
 5525,
 5529,
 5542,
 5567,
 5585,
 5602,
 5612,
 5614,
 5623,
 5634,
 5643,
 5644,
 5646,
 5661,
 5664,
 5668,
 5674,
 5680,
 5699,
 5700,
 5713,
 5714,
 5717,
 5721,
 5731,
 5751,
 5774,
 5781,
 5785,
 5786,
 5787,
 5794,
 5815,
 5818,
 5825,
 5827,
 5832,
 5835,
 5839,
 5843,
 5857,
 5858,
 5866,
 5869,
 5875,
 5876,
 5889,
 5908,
 5913,
 5937,
 5938,
 5939,
 5946,
 5948,
 5981,
 5987,
 5990,
 5991,
 5996,
 6019,
 6029,
 6039,
 6045,
 6050,
 6058,
 6069,
 6076,
 6144,
 6148,
 6155,
 6160,
 6174,
 6178,
 6207,
 6248,
 6254,
 6259,
 6260,
 6272,
 6274,
 6286,
 6291,
 6294,
 6304,
 6308,
 6321,
 6332,
 6333,
 6346,
 6348,
 6374,
 6384,
 6390,
 6391,
 6399,
 6405,
 6438,
 6443,
 6447,
 6456,
 6459,
 6473,
 6484,
 6501,
 6510,
 6514,
 6520,
 6522,
 6549,
 6556,
 6557,
 6558,
 6599,
 6614,
 6627,
 6655,
 6673,
 6676,
 6693,
 6695,
 6709,
 6710,
 6723,
 6729,
 6759,
 6760,
 6762,
 6764,
 6787,
 6796,
 6798,
 6816,
 6819,
 6825,
 6848,
 6878,
 6896,
 6898,
 6899,
 6924,
 6927,
 6935,
 6956,
 6960,
 6985,
 6994,
 7017,
 7026,
 7044,
 7052,
 7060,
 7067,
 7087,
 7088,
 7118,
 7130,
 7142,
 7148,
 7152,
 7157,
 7159,
 7207,
 7228,
 7231,
 7234,
 7246,
 7249,
 7250,
 7286,
 7295,
 7296,
 7308,
 7343,
 7352,
 7359,
 7364,
 7370,
 7382,
 7384,
 7402,
 7404,
 7417,
 7424,
 7443,
 7448,
 7462,
 7464,
 7468,
 7476,
 7487,
 7488,
 7497,
 7524,
 7542,
 7549,
 7569,
 7583,
 7619,
 7625,
 7627,
 7632,
 7639,
 7657,
 7662,
 7666,
 7667,
 7678,
 7682,
 7698,
 7706,
 7710,
 7730,
 7734,
 7746,
 7754,
 7772,
 7779,
 7792,
 7803,
 7829,
 7895,
 7907,
 7908,
 7912,
 7918,
 7941,
 7949,
 7962,
 7969,
 7971,
 7973,
 7983,
 8013,
 8017,
 8018,
 8023,
 8031,
 8052,
 8061,
 8078,
 8079,
 8104,
 8109,
 8114,
 8119,
 8125,
 8156,
 8173,
 8180,
 8183,
 8225,
 8233,
 8235,
 8256,
 8274,
 8288,
 8290,
 8306,
 8331,
 8344,
 8345,
 8355,
 8356,
 8390,
 8416,
 8452,
 8463,
 8489,
 8513,
 8535,
 8539,
 8544,
 8568,
 8596,
 8626,
 8627,
 8676,
 8714,
 8732,
 8742,
 8773,
 8792,
 8804,
 8825,
 8826,
 8836,
 8890,
 8905,
 8916,
 8919,
 8957,
 8971,
 8972,
 8987,
 8992,
 8999,
 9015,
 9038,
 9043,
 9083,
 9085,
 9090,
 9092,
 9098,
 9102,
 9109,
 9117,
 9139,
 9146,
 9159,
 9190,
 9194,
 9223,
 9232,
 9234,
 9236,
 9241,
 9250,
 9254,
 9259,
 9266,
 9268,
 9297,
 9317,
 9321,
 9323,
 9358,
 9378,
 9386,
 9413,
 9418,
 9447,
 9448,
 9454,
 9465,
 9466,
 9471,
 9479,
 9498,
 9550,
 9552,
 9558,
 9570,
 9586,
 9604,
 9609,
 9611,
 9618,
 9620,
 9630,
 9638,
 9647,
 9649,
 9651,
 9652,
 9663,
 9696,
 9700,
 9702,
 9722,
 9723,
 9724,
 9742,
 9749,
 9751,
 9757,
 9765,
 9787,
 9792,
 9810,
 9811,
 9812,
 9815,
 9826,
 9832,
 9835,
 9865,
 9872,
 9887,
 9892,
 9895,
 9897,
 9905,
 9933,
 9935,
 9980,
 9986,
 10004,
 10012,
 10019,
 10026,
 10073,
 10089,
 10108,
 10136,
 10143,
 10152,
 10153,
 10155,
 10163,
 10192,
 10205,
 10206,
 10207,
 10240,
 10294,
 10295,
 10355,
 10358,
 10362,
 10376,
 10384,
 10410,
 10436,
 10453,
 10475,
 10491,
 10501,
 10505,
 10520,
 10522,
 10526,
 10535,
 10539,
 10579,
 10581,
 10592,
 10598,
 10610,
 10613,
 10631,
 10638,
 10668,
 10700,
 10710,
 10747,
 10775,
 10776,
 10794,
 10802,
 10830,
 10847,
 10856,
 10870,
 10873,
 10916,
 10921,
 10958,
 10962,
 10970,
 10975,
 10982,
 11022,
 11027,
 11037,
 11060,
 11064,
 11066,
 11068,
 11074,
 11104,
 11175,
 11211,
 11218,
 11243,
 ...]

In [28]:
i = int(input("Введите id пользователя: "))
if i in all_users:
    reco_set = getting_recommendations(i) - set(read_by_user[i])
    filtered_df = call_meta[call_meta['book_id'].isin(reco_set)]['title']
    print(f"{len(reco_set)} рекомендаций для пользователя {i}")
    filtered_df.to_excel(f'reco_result/reco-{i}.xlsx')
else:
    print(f"Пользователя {i} не существует")

130 рекомендаций для пользователя 196

# Дополнительный анализ датасетов

In [32]:
len(call_book.book_id.unique())

898

In [47]:
call_meta

,Unnamed: 0,book_id,title,image_url,url,num_pages,ratings_count,description,genre,name,book_id_mapping
0,0,5899779,Pride and Prejudice and Zombies Pride and Prej...,https://images.gr-assets.com/books/1320449653m...,https://www.goodreads.com/book/show/5899779-pr...,320,105537,The New York Times Best Seller is now a major ...,"['fantasy, paranormal', 'romance', 'fiction', ...",Jane Austen,808
1,1,872333,Blue Bloods Blue Bloods 1,https://images.gr-assets.com/books/1322281515m...,https://www.goodreads.com/book/show/872333.Blu...,302,117633,"When the Mayflower set sail in 1620, it carrie...","['young-adult', 'fantasy, paranormal', 'romanc...",Melissa de la Cruz,217
2,2,15507958,Me Before You Me Before You 1,https://images.gr-assets.com/books/1357108762m...,https://www.goodreads.com/book/show/15507958-m...,369,609327,Louisa Clark is an ordinary young woman living...,"['romance', 'fiction']",Jojo Moyes,385
3,3,66559,Sharp Objects,https://images.gr-assets.com/books/1423241485m...,https://www.goodreads.com/book/show/66559.Shar...,254,208394,"Fresh from a brief stay at a psych hospital, r...","['mystery, thriller, crime', 'fiction']",Gillian Flynn,192
4,4,7235533,The Way of Kings The Stormlight Archive 1,https://images.gr-assets.com/books/1507307887m...,https://www.goodreads.com/book/show/7235533-th...,1007,151473,"Speak again the ancient oaths,\nLife before de...","['fantasy, paranormal', 'fiction']",Brandon Sanderson,873
...,...,...,...,...,...,...,...,...,...,...,...
91,91,10600242,How to Be a Woman,https://images.gr-assets.com/books/1405909800m...,https://www.goodreads.com/book/show/10600242-h...,312,72029,Though they have the vote and the Pill and hav...,"['non-fiction', 'history, historical fiction, ...",Caitlin Moran,356
92,92,9516,Persepolis The Story of a Childhood Persepolis 1,https://images.gr-assets.com/books/1425871473m...,https://www.goodreads.com/book/show/9516.Perse...,153,119470,"A New York TimesNotable Book\nA Time Magazine""...","['comics, graphic', 'non-fiction', 'history, h...",Mattias Ripa,708
93,93,307791,The City of Ember Book of Ember 1,https://images.gr-assets.com/books/1397931596m...,https://www.goodreads.com/book/show/307791.The...,270,202775,"Many hundreds of years ago, the city of Ember ...","['young-adult', 'fantasy, paranormal', 'fictio...",Jeanne DuPrau,175
94,94,37442,Wicked The Life and Times of the Wicked Witch ...,https://images.gr-assets.com/books/1437733293m...,https://www.goodreads.com/book/show/37442.Wicked,409,508863,When Dorothy triumphed over the Wicked Witch o...,"['fantasy, paranormal', 'fiction', 'young-adul...",Douglas Smith,374
95,95,29069989,Harry Potter and the Cursed Child Parts 1 2 Ha...,https://images.gr-assets.com/books/1470734340m...,https://www.goodreads.com/book/show/29069989-h...,309,88302,The Eighth Story. Nineteen Years Later.\nBased...,"['fantasy, paranormal', 'fiction', 'young-adul...",Jack Thorne,508

In [19]:
all_books = []
for sublist in read_by_user.values():
    all_books.extend(sublist)

In [23]:
len(set(all_books))

898

In [14]:
len(call_meta['book_id'].unique())

96